<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/home"></ion-back-button>
    </ion-buttons>
    <ion-title>De l'accueil à l'ascenseur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section padding text-center>
    <ion-icon name="locate" slot="icon-only"></ion-icon>
    <h2>Vous êtes dans le hall d'entrée.</h2>
  </section>

  <img src="assets/images/segment-1.gif" alt="De l'accueil à l'ascenseur">

  <section padding-horizontal text-center>
    <p>Pour vous rendre à l'ascenseur, veuillez utiliser les escaliers qui se trouvent à droite de l'accueil.</p>
    <p>Passez la porte et badgez.</p> 
    <p>Les ascensseurs se trouvent devant vous.</p> 
  </section>
</ion-content>
