h1 {
  font-weight: 300;
  text-align: center;
  font-size: 2em;
}


ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkcyan;

  ion-icon {
    width: 60%;
    height: 60%;
    color: white;
  }
}

.app-links {

  ion-item {
    font-weight: 300;
  }

  .color-1 {
    background: var(--ion-color-secondary);
  }

  .color-2 {
    background: var(--ion-color-tertiary);
  }

  .color-3 {
    background: var(--ion-color-primary);
  }

  .color-4 {
    background: #1E90FF;
  }

  .color-5 {
    background: #FF6347;
  }

  .color-6 {
    background: #66CDAA;
  }

  .color-7 {
    background: #6A5ACD;
  }
}
