<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Je cherche :</h1>
  <div class="app-links" padding-horizontal>
    <ion-item detail>
      <ion-avatar slot="start" class="color-1">
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
      <ion-label>Une personne</ion-label>
    </ion-item>

    <ion-item detail routerLink="/tabs/tab-bar/find/room">
      <ion-avatar slot="start" class="color-2">
        <ion-icon name="briefcase"></ion-icon>
      </ion-avatar>
      <ion-label>Une salle de réunion</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-avatar slot="start" class="color-3">
        <ion-icon name="restaurant"></ion-icon>
      </ion-avatar>
      <ion-label>Un endroit où me restaurer</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-avatar slot="start" class="color-4">
        <ion-icon name="water"></ion-icon>
      </ion-avatar>
      <ion-label>Une fontaine à eau</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-avatar slot="start" class="color-5">
        <ion-icon name="cafe"></ion-icon>
      </ion-avatar>
      <ion-label>Une machine à café</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-avatar slot="start" class="color-6">
        <ion-icon name="print"></ion-icon>
      </ion-avatar>
      <ion-label>Une imprimante</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-avatar slot="start" class="color-7">
        <ion-icon name="key"></ion-icon>
      </ion-avatar>
      <ion-label>Les casiers</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-avatar slot="start" class="color-8">
        <ion-icon name="basketball"></ion-icon>
      </ion-avatar>
      <ion-label>Les vestiaires</ion-label>
    </ion-item>
  </div>
</ion-content>
