<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Me Restaurer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<h1>Je veux me restaurer :</h1>-->

  <div class="food-choices">

    <div class="choice" routerLink="/tabs/tab-bar/eat/rie">
      <img src="assets/icon/restaurant.svg" alt="Restaurant d'entreprise" />
      <h2>Au Restaurant d'entreprise</h2>
    </div>

    <div class="choice" routerLink="/tabs/tab-bar/eat/places">
      <img src="assets/icon/close.svg" alt="Manger à proximité" />
      <h2>A proximité</h2>
    </div>

    <div class="choice" routerLink="/tabs/tab-bar/eat/delivery">
      <img src="assets/icon/delivery.svg" alt="Me faire livrer un repas" />
      <h2>Me faire livrer un repas</h2>
    </div>

    <div class="choice" routerLink="/tabs/tab-bar/eat/add-place">
      <img src="assets/icon/new-place.svg" alt="Proposer un endroit" />
      <h2>Proposer un nouvel endroit !</h2>
    </div>

  </div>

</ion-content>
