<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vers l'infini et au delà</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section padding text-center>
    <ion-icon name="locate" slot="icon-only"></ion-icon>
    <h2>Aller au 8<sup>ème</sup> étage</h2>
  </section>

  <img src="assets/images/lift-sign.svg" alt="Vers la Salle MediaScape" style="width:50%;align-self: center">

  <section padding-horizontal text-center>
    <p>Appuyez sur le 8.</p>
    <p>Si vous êtes pressé, appuyez sur le bouton de fermeture des portes</p>
  </section>
</ion-content>