<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/find/room"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ room.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="help-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding class="image-wrapper">
        <img [src]="room.image" [alt]="room.name">
        <ion-button class="on-left" shape="round" size="small" color="tertiary" routerLink="/tabs/tab-bar/find/room/room-help">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          Mode d'emploi
        </ion-button>
        <ion-button class="on-right" shape="round" size="small" color="tertiary" [routerLink]="['/', 'sites', site.id, 'dysfunction']">
          <ion-icon name="construct" slot="start"></ion-icon>
          Signalement
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 text-center>{{ room.name }}</h1>
  <div class="status" [ngClass]="{'is-free': !room.isBooked, 'is-booked': room.isBooked}">
    <ng-container *ngIf="!room.isBooked">
      <ion-icon name="checkmark" slot="icon-only" color="success"></ion-icon>
      <span>Salle disponible</span>
      <ion-button *ngIf="!room.isBooked" shape="round" size="small">Réserver</ion-button>
    </ng-container>
    <ng-container *ngIf="room.isBooked">
      <ion-icon name="close" slot="icon-only" color="danger"></ion-icon>
      <span>Salle indisponible</span>
    </ng-container>
  </div>

  <ion-segment [(ngModel)]="cat" class="room-info">
    <ion-segment-button value="details" checked layout="icon-start">
      <ion-icon name="list"></ion-icon>
      <ion-label>Détails</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calendar" layout="icon-start">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Disponibilité</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="cat">

    <div *ngSwitchCase="'details'">
      <ion-grid class="details" padding>
        <ion-row>
          <ion-col>
            <div class="description-item">
              <ion-icon name="person" color="secondary"></ion-icon>
              Capacité : <strong>&nbsp;{{ room.capacity }}&nbsp;</strong> personnes
            </div>
            <div class="description-item">
              <img src="assets/icon/stairs.svg" alt="Etage">
              Etage : <strong>&nbsp;{{ room.floor }}</strong>
            </div>
            <div class="description-item">
              <img src="assets/icon/pmr.svg" alt="Accès PMR">
              Accès Personnes à Mobilité Réduite : <strong>&nbsp;{{ room.furniture.pmr ? 'Oui' : 'Non' }}</strong>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="light-bg furniture-wrapper">
        <div class="description-item">
          <ion-icon name="cube"></ion-icon>
          Matériel
        </div>

        <div class="furniture">
          <div *ngIf="room.furniture.phone">
            <img src="assets/icon/phone1.svg" alt="téléphone" />
            Téléphone
          </div>
          <div *ngIf="room.furniture.wifi">
            <img src="assets/icon/wifi.svg" alt="wifi" />
            Wifi
          </div>
          <div *ngIf="room.furniture.power">
            <img src="assets/icon/power.svg" alt="Prises" />
            Prises électriques
          </div>
          <div *ngIf="room.furniture.ethernet">
            <img src="assets/icon/ethernet.svg" alt="Prises ethernet" />
            Prises réseau
          </div>
          <div *ngIf="room.furniture.projector">
            <img src="assets/icon/projector.svg" alt="Video Projecteur" />
            Projecteur
          </div>
          <div *ngIf="room.furniture.video">
            <img src="assets/icon/videoconf.svg" alt="Visio Conférence" />
            Visioconférence
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'calendar'">
      <ion-grid text-center padding>
        <ion-row>
          <ion-col size="6">
            <div class="time">08:00 - 08:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">08:30 - 09:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">09:00 - 09:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">09:30 - 10:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">10:00 - 10:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">10:30 - 11:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">11:00 - 11:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">11:30 - 12:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">12:00 - 12:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">12:30 - 13:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">13:00 - 13:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">13:30 - 14:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">1400 - 14:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">14:30 - 15:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">15:00 - 15:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">15:30 - 16:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">16:00 - 16:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time not">16:30 - 17:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">17:00 - 17:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">17:30 - 18:00</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">18:00 - 18:30</div>
          </ion-col>
          <ion-col size="6">
            <div class="time">18:30 - 19:00</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="navigate" (click)="startNav()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
