<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mon Parcours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button
    [routerLink]="['/journey/tag1']"
    shape="round"
    color="primary">
    <ion-icon name="wifi" slot="start"></ion-icon>
    Tag 1
  </ion-button>


  <ion-button
    [routerLink]="['/journey/tag2']"
    shape="round"
    color="primary">
    <ion-icon name="wifi" slot="start"></ion-icon>
    Tag 2
  </ion-button>


  <ion-button
    [routerLink]="['/journey/tag3']"
    shape="round"
    color="primary">
    <ion-icon name="wifi" slot="start"></ion-icon>
    Tag 3
  </ion-button>


  <ion-button
    [routerLink]="['/journey/tag4']"
    shape="round"
    color="primary">
    <ion-icon name="wifi" slot="start"></ion-icon>
    Tag 4
  </ion-button>

</ion-content>
