:host {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  font-size: 1rem;
  text-align: left;
}

.illustration {
  width: 25%;
  height: auto;
  margin-right: 16px;
}

.content {
  width: calc(100% - (25% + 16px));
}

.title {
  font-size: 1.125em;
}

.description {
  color: var(--ion-color-medium);
  padding-top: 4px;
}
