<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ma prochaine réunion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid padding>
    <ion-row>
      <ion-col>
        <div class="meeting-header">
          <div class="title">
            Démonstration de l'assistant collaborateur
          </div>
          <div class="schedule">
            <p>de <span>14:30</span></p>
            <p>à <span>15:30</span></p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="separation"></div>

    <ion-row>
      <ion-col>
        <p>Le but de cette réunion est de présenter le prototype de l'application <strong>MyPote</strong>, notre Assistant Collaborateur, élaborée avec amour par les membres de l'axe 5.2 du Projet d'entreprise IT-CE 2020.</p>
      </ion-col>
    </ion-row>

    <div class="separation"></div>

    <ion-row>
      <ion-col>
        <div class="room">
          <ion-item lines="none">
            <ion-thumbnail>
              <img src="assets/images/rooms/rooms0.jpg" alt="Salle Mediascape">
            </ion-thumbnail>
            <ion-label><span>Lieu :</span> &nbsp;Salle Mediascape</ion-label>
          </ion-item>

          <ion-button
            class="is-round"
            shape="round"
            color="primary">
            <ion-icon name="navigate" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <div class="separation"></div>

    <ion-row>
      <ion-col>
        <ion-item detail lines="none">
          <ion-label>Liste des Participants</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
