<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Mon Site</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="find">
      <ion-label>Rechercher</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="eat">
      <ion-label>Me restaurer</ion-label>
      <ion-icon name="restaurant"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="travel">
      <ion-label>Me déplacer</ion-label>
      <ion-icon name="navigate"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
