<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sites"></ion-back-button>
    </ion-buttons>
    <ion-title>Tag 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ascensseur Accueil Braudel</ion-card-subtitle>
      <ion-card-title>Site de Paris Braudel</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
