<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sites"></ion-back-button>
    </ion-buttons>
    <ion-title>Site de {{ site.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding class="image-wrapper">
        <img [src]="site.image" [alt]="'Site de ' + site.name">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row text-center padding>
      <ion-col no-padding class="city-header">
        <h1>{{ site.name }}</h1>
        <ion-button
          size="small"
          shape="round"
          (click)="onSetSite(site.id)">Choisir ce site</ion-button>
      </ion-col>
    </ion-row>

    <ion-row padding class="secondary-bg">
      <ion-col>
        <p class="type no-margin">Adresse</p>
        <div class="address">
          <p>{{ site.address }}</p>
          <div *ngIf="site.addressDetail">
            <p *ngFor="let detail of site.addressDetail">{{ detail }}</p>
          </div>
          <p>{{ site.zipCode }} {{ site.city }}</p>
        </div>

        <p class="type">Standard</p>
        <p>{{ site.phone }}</p>
      </ion-col>
    </ion-row>

    <ion-row padding class="light-bg">
      <ion-col>
        <p class="type no-margin nav-to-site">Me rendre sur le site
          <ion-button
            class="is-round"
            shape="round"
            color="tertiary"
            (click)="onNavigateTo(site.position)">
            <ion-icon name="navigate" slot="icon-only"></ion-icon>
          </ion-button>
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="site.parkings.length" padding>
      <ion-col>
        <p class="type no-margin">Les parkings à proximité</p>
        <app-parking-item
          *ngFor="let parking of site.parkings"
          [parking]="parking"></app-parking-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
