<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sites"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ site.name }} : Détail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>


    <ion-row padding>
      <ion-col>

        <p>{{ site.id }}</p>
        <p>{{ site.position | json }}</p>
        <p>{{ site.address }}</p>
        <p>{{ site.zipCode }}</p>

        <ion-button
          shape="round"
          margin-top
          (click)="onSetSite(site.id)">Choisir ce site</ion-button>

      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
