<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/eat"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant d'Entreprise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="rie-header">
    <ion-thumbnail>
      <img src="assets/images/eat/eat.jpg" alt="RIE">
    </ion-thumbnail>
    <div class="rie-info">
      <h1>Restaurant d'entreprise</h1>
      <p><span>Localisation </span> Niveau 00</p>
      <p><span>Ouvert  </span>de 11h30 à 14h30</p>
    </div>
  </div>


  <h2 class="ion-text-center"><small>Menu du Jour</small>
    <br>Lundi 15 Avril 2019</h2>

  <h3>Entrées</h3>

  <ion-list>
    <ion-item>Oeufs au persil</ion-item>
    <ion-item>Assiette de charcuterie</ion-item>
    <ion-item>Salade de jeunes pousses d'épinards</ion-item>
    <ion-item>Bruschetta à l'Italienne</ion-item>
    <ion-item>Maxi Salade comme une Parisienne</ion-item>
    <ion-item lines="none">Soupe de melon</ion-item>
  </ion-list>


  <h3>Salad'Bar</h3>

  <ion-list>
    <ion-item>Gnocchis au pesto</ion-item>
    <ion-item>Fèves aux tomates sechées</ion-item>
    <ion-item>Fenouil cru émincé aux agrumes</ion-item>
    <ion-item>Salade de poivrons grillés à l'ail</ion-item>
    <ion-item>Saladier de tomates</ion-item>
    <ion-item>Saladier de pastèque</ion-item>
    <ion-item lines="none">Be Bop de melon</ion-item>
  </ion-list>

  <h3>Les plats du jour</h3>

  <ion-list>
    <ion-item>Filet de poisson frais & sa crème de safran</ion-item>
    <ion-item>Filet mignon de porc au chorizo</ion-item>
    <ion-item>Quenelle de volaille & sa sauce Aurore (PP)</ion-item>
    <ion-item>Purée de lentilles corail aux épices</ion-item>
    <ion-item>Pois gourmands aux petits oignons</ion-item>
    <ion-item>Tomates au four</ion-item>
    <ion-item lines="none">pommes frites</ion-item>
  </ion-list>


  <h3>Les desserts</h3>
  <ion-list>
    <ion-item>Compote pomme cassis</ion-item>
    <ion-item>Crème caramel</ion-item>
    <ion-item>Crème brûlée</ion-item>
    <ion-item>Mousse coco & compotée de mangue</ion-item>
    <ion-item>Maxi Mousse coco & compotée de mangue</ion-item>
    <ion-item>Tartetelette double chocolat</ion-item>
    <ion-item>Gâteau roulé aux fruits</ion-item>
    <ion-item>Salade de fruits frais de saison</ion-item>
    <ion-item lines="none">Fruit de saison</ion-item>
  </ion-list>

</ion-content>

