
.rie-header {
  display: flex;
}


ion-thumbnail {
  --size: 120px;
  height: calc(var(--size) * 1.2);
  margin-right: 16px;

  img {
    object-position: 50% 0;
  }
}

.rie-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    margin: 0 0 8px 0;

    span {
      color: var(--ion-color-medium);
    }
  }

  h1 {
    font-weight: 300;
  }
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  color: var(--ion-color-secondary);
  margin-bottom: 0;
}

ion-item {
  --min-height: 32px;
}
