<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          My Pote
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding-horizontal>
      <ion-list>

        <ion-menu-toggle class="change-site">
           <p>Mon site : <span>{{ activeSite.name || "" }}</span><!--  - {{ wifiScannedZone.name || "" }} --></p>
          <ion-button color="primary" shape="round" size="small" routerLink="/sites">Changer de site</ion-button>
        </ion-menu-toggle>

        <div class="separation"></div>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/sites">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Liste des Sites</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/journey">
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Mon Parcours</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <div class="separation"></div>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/tab-bar/home" detail>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Mon Site</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/tab-bar/find" detail>
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>Rechercher</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/tab-bar/eat" detail>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-label>Me restaurer</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/tab-bar/travel" detail>
            <ion-icon name="navigate" slot="start"></ion-icon>
            <ion-label>Me déplacer</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <div class="separation"></div>

        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Me déconnecter</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
