<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/sites"></ion-back-button>
      </ion-buttons>
      <ion-title>Taxi

      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div *ngFor="let taxi of taxis">
    <ion-item >
      <ion-thumbnail  slot="start">
        <img [src]="taxi.img">
      </ion-thumbnail>
      <ion-label><h3>{{ taxi.name }}</h3>
        <p>{{taxi.description}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>