<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/sites"></ion-back-button>
      </ion-buttons>
      <ion-title>Taxi

      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div>
    <ion-item >
      <ion-thumbnail  slot="start">
        <img src="../../assets/images/logo-uber.jpg">
      </ion-thumbnail>
      <ion-label><h1>{{taxi.name}} </h1>
        <p>{{taxi.description}}</p>
        <div><ion-button  [href]="'tel:'+taxi.phone" 
          class="is-round"
          shape="round" 
          color="tertiary"
          size="small"><ion-icon slot="start" name="call"></ion-icon>Téléphoner</ion-button>
        <ion-button  [href]="" 
          shape="round" 
          class="is-round"
          size="small"><ion-icon slot="start" name="phone-portrait"></ion-icon>Application</ion-button>
        </div>
        
      </ion-label>
    </ion-item>
  </div>
</ion-content>