<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/journey/journey-history"></ion-back-button>
    </ion-buttons>
    <ion-title>Vers la Salle MediaScape</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section padding text-center>
    <ion-icon name="locate" slot="icon-only"></ion-icon>
    <h2>Vous êtes au 8<sup>ème</sup> étage</h2>
  </section>

  <img src="assets/images/segment-2.gif" alt="Vers la Salle MediaScape">

  <section padding-horizontal text-center>
    <p>Pour vous rendre à la salle Mediascape</p>
  </section>
</ion-content>
