<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mon site <small>({{ activeSite.name }}<span *ngIf="distanceToSite"> {{distanceToSite | distanceDisplay}}</span>)</small></ion-title>
    <ion-buttons slot="end" [routerLink]="['/', 'sites', activeSite.id]">
      <ion-button>
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-calendar-item></app-calendar-item>

  <section class="news">
    <div class="title">L'Actu à {{ activeSite.name }}</div>
    <app-news-item></app-news-item>
  </section>


  <section class="news">
    <div class="title">Mon Parcours</div>
  </section>


  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add"  ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="medkit" [routerLink]="['/sites', activeSite.id, 'security']"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="construct" [routerLink]="['/sites', activeSite.id, 'dysfunction']"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <!--<ion-fab-button><ion-icon name="help"></ion-icon></ion-fab-button>-->
      <ion-fab-button><ion-icon name="keypad" [routerLink]="['/sites', activeSite.id, 'site-numbers']"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
