<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sites"></ion-back-button>
    </ion-buttons>
    <ion-title>Choix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="app-links" padding-horizontal>
    <ion-item detail [routerLink]="['/taxi',activeSite.id,activeSite.position.lat,activeSite.position.lng,activeSite.name]">
      <ion-avatar slot="start" class="color-8">
        <ion-icon name="car"></ion-icon>
      </ion-avatar>
      <ion-label>Aller vers le site de {{activeSite.name}}</ion-label>
    </ion-item>
  </div>
  <div class="app-links" padding-horizontal *ngFor="let interest of interests"> 
      <ion-item detail [routerLink]="['/taxi',activeSite.id,interest.position.lat,interest.position.lon,interest.name]">
        <ion-avatar slot="start" class="color-8">
          <ion-icon name="car"></ion-icon>
        </ion-avatar>
        <ion-label>Aller vers le site de {{interest.name}}</ion-label> 
      </ion-item>
    </div>
</ion-content>