<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-bar/find"></ion-back-button>
    </ion-buttons>
    <ion-title>Salles de réunion sur le site</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-grid padding class="light-bg">-->
    <!--<ion-row>-->
      <!--<ion-col>-->
        <!--<ion-item>-->
          <!--<ion-label position="floating">-->
            <!--Rechercher une salle</ion-label>-->
          <!--<ion-input value="Etage 8"></ion-input>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->


  <div *ngFor="let room of activeSite.rooms">
    <div class="room-item" [ngClass]="{'is-booked': room.isBooked}">
        <div class="image-wrapper">
          <img [src]="room.image" [alt]="room.name">
        </div>

        <div class="content">
          <div class="space-between">
            <div class="status is-free" *ngIf="!room.isBooked">
              <ion-icon name="checkmark" slot="icon-only"></ion-icon>
              Salle disponible
            </div>

            <div class="status is-booked" *ngIf="room.isBooked">
              <ion-icon *ngIf="room.isBooked" name="close" slot="icon-only"></ion-icon>
              Salle indisponible
            </div>

            <div class="space-between">
              <div class="capacity">
                <ion-icon name="person" color="secondary"></ion-icon>
                {{ room.capacity }}
              </div>

              <div class="floor">
                <img src="assets/icon/stairs.svg" alt="Etage" /> {{ room.floor }}
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="title">{{ room.name }}</div>

            <div class="furniture">
              Matériel
              <img *ngIf="room.furniture.power" src="assets/icon/power.svg" alt="Prises" />
              <img *ngIf="room.furniture.phone" src="assets/icon/phone1.svg" alt="téléphone" />
              <img *ngIf="room.furniture.wifi" src="assets/icon/wifi.svg" alt="wifi" />
              <img *ngIf="room.furniture.ethernet" src="assets/icon/ethernet.svg" alt="Prises ethernet" />
              <img *ngIf="room.furniture.projector" src="assets/icon/projector.svg" alt="Video Projecteur" />
              <img *ngIf="room.furniture.video" src="assets/icon/videoconf.svg" alt="Visio Conférence" />
            </div>

            <div class="card-action" text-center>
              <ion-button class="details-button" shape="round" size="small" color="tertiary" [routerLink]="['/', 'tabs', 'tab-bar', 'find', 'room', room.id]">Détails</ion-button>
              <ion-button *ngIf="!room.isBooked" shape="round" size="small">Réserver</ion-button>
              <span *ngIf="room.isBooked">Salle indisponible</span>
            </div>
          </div>
        </div>

    </div>
  </div>

</ion-content>
